/* .ArticleCard {
  /* grid-area: main;
  display: grid;
  grid-columns: 100px auto;
  align-content: center;
  border-bottom: solid 1px black;
  padding-top: 25px;
  margin-right: 25px;
  margin: 10px;
  box-shadow: 5px #888888; */

.Author {
  text-align: left;
}

.additional {
  display: grid;
  align-items: stretch;
}

.ArticleSpacing {
  padding: 5px;
  padding-left: 50px;
  padding-right: 70px;
  margin-right: 50px;
}

.ArticleCard {
  display: grid;
  display-grid-columns: 100px auto;
  padding: 0;
  padding: 10px;
  border-bottom: solid 1px grey;
  background-color: white;
}

.ArticleSpacing {
}

.main {
}
.ArticleTitle {
}

.app {
}
