/* .ArticleCard {
  /* grid-area: main;
  display: grid;
  grid-columns: 100px auto;
  align-content: center;
  border-bottom: solid 1px black;
  padding-top: 25px;
  margin-right: 25px;
  margin: 10px;
  box-shadow: 5px #888888; */

.Author {
  grid-template-columns: 1fr 1fr 1fr;
  align-content: stretch;
  align-items: stretch;
  display: grid;
  justify-content: space-evenly;
}

.additional {
  display: grid;
  align-items: stretch;
}

.ArticleSpacing {
  padding: 5px;
  padding-left: 50px;
  padding-right: 70px;
  margin-right: 50px;
}
.mappedArticles {
  padding-left: 150px;
  padding-right: 150px;
  margin: 5px;
}
.ArticleCard {
  display: grid;
  /* grid-template-columns: 100px auto; */
  padding: 5px;
  background-color: white;
  margin: 10px;
}

.individualArticle {
  border: 2px solid #afbed1;
  border-radius: 8px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 5px;
  margin: 10px;
}

/* .ArticleSpacing {
}

.main {
}
.ArticleTitle {
}

.app {
} */
