.nav {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: #afbed1;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.navLink {
  padding-left: 2px;
  padding-right: 5px;
  margin: 1px;
  font-size: 115%;
}

a:link {
  color: blue;
}

a:visited {
  color: blue;
}

a:hover {
  color: red;
}
