.singleArticleMain {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 50px;
  padding-left: 50px;
  margin: 0;
  background-color: white;
}

.comment {
  /* use this one! */
  display: grid;
  /* grid-template-columns: 100px auto; */
  padding: 0;
  padding: 5px;
  border: 2px solid #afbed1;
  border-radius: 8px;
  /* padding-right: 100px;
  padding-left: 100px; */
  margin-left: 50px;
  margin-right: 50px;
}
.leadarticle {
  background-color: pink;
}

.postComment {
  background-color: aqua;
  padding: 10px;
}
.comments {
}
/* 
/* .articlebody {
  padding: 25px;
  margin-bottom: 50px;
} */
*/ .smalldetails {
  text-align: left;
  border: solid 1px grey;
}
/* 
.articlebody {
  padding: 50px;
  margin-bottom: 1px;
} */
